/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px;
    padding: 0%;
    background-color: #ffffff;
}

i {
    color: #f8b732;
}

nav li {
    display: none;
}

.fa-bars {
    color: black;
    font-size: 25px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

#logo img {
    height: 40px;
    width: 60px;
    position: absolute;
}

.price span {
    color: red;
    font-weight: bold;
}

#cart {
    background-color: #f2849e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

#cart:hover {
    background-color: #ec4b75
}

.fa-cart-plus {
    color: white;
}

#book-cover img {
    border-left: 40px solid #cccccc;
    border-right: 40px solid #cccccc;
    width: 207px;
    height: 300px;
}

.product, .author, .info {
    border-bottom: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

a {
    color: #2028ff;
    text-decoration: none;
    font-weight: bold;
}