/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #f7f7f7;
}

i {
    color: #f8b732;
    font-size: 20px;
}

header {
    background-color: #ffffff;
    padding: 10px 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}

nav li {
    display: inline;
    font-weight: bolder;
    font-size: 20px;
    list-style: none;
    padding: 0px 20px;
}

#logo img {
    height: 50px;
    width: 70px;
    position: absolute;
    margin-left: 10px;
}

.fa-bars {
    visibility: hidden;
}

section {
    background-color: #ffffff;
    width: 80%;
    margin-left: 100px;
}

div {
    margin: 10px;
}

.price span {
    color: red;
    font-weight: bold;
}

#cart {
    background-color: #f2849e;
    color: #ffffff;
    padding: 15px 60px;
    border: none;
    font-weight: bold;
}

#cart:hover {
    background-color: #ec4b75
}

.fa-cart-plus {
    color: white;
}

.product-title {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

#book-cover img {
    border-right: 10px solid #cccccc;
    border-left: 10px solid #cccccc;
}

p {
    font-size: 20px;
}

.product, .author, .info {
    border-bottom: #cccccc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

a {
    text-decoration: none;
}

p a {
    color: #2028ff;
    text-decoration: none;
    font-weight: bold;
}
